{% extends "core/base.html" %}

{% load static %}

{% block title %}Materials{% endblock %}

{% block content %}

<h2 class="text-3xl font-bold text-gray-800 mb-6 border-b-2 border-gray-400 pb-2">Materials</h2>

<div class="mb-6 p-4 border rounded-lg bg-gray-50">
    <form method="get" action="{% url 'materials:materials_list' %}" class="grid grid-cols-1 md:grid-cols-4 gap-4 items-end">
        <div class="col-span-1">
            <label for="id_material" class="block text-sm font-medium text-gray-700">ID Material</label>
            <input type="text" name="id_material" id="id_material" value="{{request.GET.id_material}}" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring-indigo-200 focus:ring-opacity-50">
        </div>

        <div class="col-span-1">
            <label for="name" class="block text-sm font-medium text-gray-700">Name</label>
            <input type="text" name="name" id="name" value="{{request.GET.name}}" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring-indigo-200 focus:ring-opacity-50">
        </div>
    
        <div class="col-span-1">
            <label for="material_type" class="block text-sm font-medium text-gray-700">Material Type</label>
            <input type="text" name="material_type" id="material_type" value="{{request.GET.material_type}}" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring-indigo-200 focus:ring-opacity-50">
        </div>

        <div class="col-span-1">
            <label for="status" class="block text-sm font-medium text-gray-700">Status</label>
            <select name="status" id="status" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring-indigo-200 focus:ring-opacity-50">
            <option value="" {% if not request.GET.status %}select{% endif %}>All</option>
            <option value="Active" {% if not request.GET.status == "Active" %}selected{% endif %}>Active</option>
            <option value="Inactive" {% if not request.GET.status == "Inactive" %}selected{% endif %}>Inactive</option>
            </select>
        </div>


<div class="col-span-1 md:col-span-4">
    <div class="flex items-center justify-between">
        <div class="flex space-x-2">
            <button type="submit" class="w-full md:w-auto bg-[#233b6e] text-white px-4 py-2 rounded-lg shadow-md hover:bg-[#1a2c53] transition-colors duration-300">Filter</button>
            <a href="{% url 'materials:materials_list' %}" class="w-full md:w-auto bg-gray-500 text-white px-4 py-2 rounded-lg shadow-md hover:bg-gray-600 transition-colors duration-300 text-center">Clear</a>
        </div>
        <!-- ? BOTON PARA EXPORTAR A CSV|EXCEL -->
        <div class="flex items-center space-x-2 mt-4 md:mt-0">
            <a href="?export=csv{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }} ={{ value }}{% end if %}{% endfor %}" class="bg-green-600 text-white font-semibold py-2 px-6 rounded-lg transition-colors duration-300 hover:bg-green-700">
                Export csv
            </a>
        </div>
        {% if permissions.materials >= 2 %}
        <a href="{% url 'materials:material_create' %}" class="bg-[#233b6e] text-white font-semibold py-2 px-6 rounded-lg text-center transition-colors duration-300 hover:bg-[#1a2c53]">Create New Material</a>
        {% endif %}
    </div>
</div>    
</form>
</div>

<div class="bg-white p-6 rounded-lg shadow-md overflow-x-auto">
    <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-50">
            <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">ID Material</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Name</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Description</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Unit</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Type</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Status</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">User</th>
                {% if permissions.materials >= 2 %}
                <th scope="col" class="relative px-6 py-3">Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
            {% for material in page_obj %}
            <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{material.id_material}}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{material.name}}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{material.description}}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{material.unit}}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{material.material_type}}</td>
                <td class="px-6 py-4 whitespace-nowrap">
                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full {% if material.status == 'Active' %} bg-green-100 text-green-800 {% else %} bg-red-100 text-red-800 {% endif %}">
                        {{material.status}}
                    </span>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">{{material.created_by.username}}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-right font-medium">
                    <a href="#" class="text-indigo-600 hover:text-indigo-900 mr-4">Edit</a>
                    <a href="#" class="text-red-600 hover:text-red-900 mr-4">Delete</a>
                </td>
            </tr>

        {% empty %}
        <tr>
            <td colspan="7" class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 text-center">No materials found</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>



{% if page_obj.has_other_pages %}
<div class="flex justify-center mt-6">
    <nav class="relative z-0 inline-flex rounded-md shadow-sm space-x-px" aria-label="Pagination">
        {% if page_obj.has_previous %}
        <a href="?page=&id_material={{request.GET.id_material}}&name={{request.Get.name}}&material_type={{request.GET.material_type}}&status={{request.GET.status}}"
        class="relative inline-flex items-center px-2 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50"
        >
            <span class="sr-only">Previous</span>
            &lsaquo;
        </a>
        {% endif %}

        {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
        <span class="relative inline-flex items-center px-4 py-2 border border-gray-300 bg-gray-200 text-sm font-medium text-gray-700">
            {{ i }}
        </span>
        {% else %}
        <a href="?page={{ i }}&id_material={{request.GET.id_material}}&name={{request.Get.name}}&material_type={{request.GET.material_type}}&status={{request.GET.status}}"
        class="relative inline-flex items-center px-2 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50"
        >
            {{ i }}
        </a>
        {% endif %}
        {% endfor %}

        {% if pago_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}&id_material={{request.GET.id_material}}&name={{request.Get.name}}&material_type={{request.GET.material_type}}&status={{request.GET.status}}"
        class="relative inline-flex items-center px-2 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50"
        >
            <span class="sr-only">Next</span>
            &rsaquo;
        </a>

        <a href="?page={{ page_obj.paginator.num_pages }}&id_material={{request.GET.id_material}}&name={{request.Get.name}}&material_type={{request.GET.material_type}}&status={{request.GET.status}}"
        class="relative inline-flex items-center px-2 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50"
        >
            <span class="sr-only">Last</span>
            &rsaquo;
        </a>
        {% endif %}
    </nav>
</div>
{% endif %}
</div>




{% endblock content %}