<!-- * Tarjetas para los modulos erp junto con su permisos correspondientes-->

<html>
    {% block content %}
    <nav>
        <a href="#">ERP JM</a>
        <span>Welcome, {{ user.first_name|default:user.username }}</span>
        <a href="{% url 'logout' %}">Logout</a>
    </nav>

    <h2>Dashboard</h2>
    <p>Assigned roles: <strong> {{ roles|join:", " }} </strong></p>

    <div style="display: flex; flex-wrap: wrap; gap: 10px">
        {% if permissions.customers > 0 %}
        <div style="border: 1px solid #000; padding: 10px; width: 200px;">
            <h3>Customers</h3>
            <p>{% if permissions.customers == 1 %}View only{% else %}Read an write{% endif %} </p>
            <a href="#">Access</a>
        </div>
        {% endif %}

    <div style="display: flex; flex-wrap: wrap; gap: 10px">
        {% if permissions.suppliers > 0 %}
        <div style="border: 1px solid #000; padding: 10px; width: 200px;">
            <h3>suppliers</h3>
            <p>{% if permissions.suppliers == 1 %}View only{% else %}Read an write{% endif %} </p>
            <a href="#">Access</a>
        </div>
        {% endif %}    
    
    <div style="display: flex; flex-wrap: wrap; gap: 10px">
        {% if permissions.materials > 0 %}
        <div style="border: 1px solid #000; padding: 10px; width: 200px;">
            <h3>suppliers</h3>
            <p>{% if permissions.suppliers == 1 %}View only{% else %}Read an write{% endif %} </p>
            <a href="#">Access</a>
        </div>
        {% endif %}
    
    <div style="display: flex; flex-wrap: wrap; gap: 10px">
        {% if permissions.purchases > 0 %}
        <div style="border: 1px solid #000; padding: 10px; width: 200px;">
            <h3>purchases</h3>
            <p>{% if permissions.purchases == 1 %}View only{% else %}Read an write{% endif %} </p>
            <a href="#">Access</a>
        </div>
        {% endif %} 

    <div style="display: flex; flex-wrap: wrap; gap: 10px">
        {% if permissions.sales > 0 %}
        <div style="border: 1px solid #000; padding: 10px; width: 200px;">
            <h3>sales</h3>
            <p>{% if permissions.sales == 1 %}View only{% else %}Read an write{% endif %} </p>
            <a href="#">Access</a>
        </div>
        {% endif %} 

    <div style="display: flex; flex-wrap: wrap; gap: 10px">
        {% if permissions.inventory > 0 %}
        <div style="border: 1px solid #000; padding: 10px; width: 200px;">
            <h3>inventory</h3>
            <p>{% if permissions.inventory == 1 %}View only{% else %}Read an write{% endif %} </p>
            <a href="#">Access</a>
        </div>
        {% endif %} 
    
    <div style="display: flex; flex-wrap: wrap; gap: 10px">
        {% if permissions.accounting > 0 %}
        <div style="border: 1px solid #000; padding: 10px; width: 200px;">
            <h3>accounting</h3>
            <p>{% if permissions.accounting == 1 %}View only{% else %}Read an write{% endif %} </p>
            <a href="#">Access</a>
        </div>
        {% endif %}

    <div style="display: flex; flex-wrap: wrap; gap: 10px">
        {% if permissions.reporting > 0 %}
        <div style="border: 1px solid #000; padding: 10px; width: 200px;">
            <h3>reporting</h3>
            <p>{% if permissions.reporting == 1 %}View only{% else %}Read an write{% endif %} </p>
            <a href="#">Access</a>
        </div>
        {% endif %}
    </div>

    {% if permissions.customers == 0 and permissions.suppliers == 0 and permissions.materials == 0 
    and permissions.purchases == 0 and permissions.sales == 0 and permissions.inventory == 0
    and permissions.accounting == 0 and permissions.reporting == 0 %}

    <div style="border: 1px solid red; padding: 10px; margin-top: 20px;">
        <h4>No permissions assigned</h4>
        <p>You currently don't have permissions to access any system module.
            Contact your administrator to request access.
        </p>
    </div>
    {% endif %}
    {% endblock %}

</html>